.estilo1{
    font-family: arial;
    font-size: 30px;
    background-color:rebeccapurple;
}

.estilo2{
    font-family: arial;
    font-size: 30px;
    background-color:rgb(70, 209, 144);
}

.estilo3{
    font-family: arial;
    font-size: 30px;
    background-color:rgb(187, 212, 63);
}

.estilo4{
    font-family: arial;
    font-size: 30px;
    background-color:rgb(73, 93, 206);
}

.estilo5{
    font-family: arial;
    font-size: 30px;
    background-color:rgb(208, 46, 46);
}

.estilo6{
    font-family: arial;
    font-size: 30px;
    background-color:rgb(253, 233, 8);
}

.estilo7{
    font-family: arial;
    font-size: 20px;
    background-color:rgb(230, 55, 213);
}

.estilo8{
    font-family: arial;
    font-size: 20px;
    background-color:rgb(233, 64, 185);
}

.estilo9{
    font-family: arial;
    font-size: 20px;
    background-color:rgb(59, 203, 236);
}

.estilo10{
    font-family: arial;
    font-size: 20px;
    background-color:rgb(4, 255, 230);
}

.estilo11{
    font-family: arial;
    font-size: 20px;
    background-color:rgb(123, 255, 137);
}

.estilo12{
    font-family: arial;
    font-size: 20px;
    background-color:rgb(46, 255, 157);
}

.estilo13{
    font-family: arial;
    font-size: 20px;
    background-color:rgb(255, 0, 179);
}

.estilo14{
    font-family: arial;
    font-size: 20px;
    background-color:rgb(69, 255, 255);
}

.estilo15{
    font-family: arial;
    font-size: 15px;
    background-color:rgb(255, 0, 0);
}

.estilo16{
    font-family: arial;
    font-size: 15px;
    background-color:rgb(0, 255, 110);
}

.estilo17{
    font-family: arial;
    font-size: 15px;
    background-color:rgb(153, 144, 51);
}

.estilo18{
    font-family: arial;
    font-size: 15px;
    background-color:rgb(255, 39, 204);
}

.estilo19{
    font-family: arial;
    font-size: 15px;
    background-color:rgb(50, 255, 207);
}

.estilo20{
    font-family: arial;
    font-size: 15px;
    background-color:rgb(175, 95, 255);
}

.estilo21{
    font-family: arial;
    font-size: 15px;
    background-color:rgb(74, 255, 89);
}

.estilo22{
    font-family: arial;
    font-size: 15px;
    background-color:rgb(250, 186, 67);
}

.estilo23{
    font-family: arial;
    font-size: 15px;
    background-color:rgb(246, 192, 31);
}

.estilo24{
    font-family: arial;
    font-size: 15px;
    background-color:rgb(207, 228, 51);
}

.estilo25{
    font-family: arial;
    font-size: 15px;
    background-color:rgb(175, 98, 251);
}

.estilo26{
    font-family: arial;
    font-size: 30px;
    background-color:rgb(218, 225, 77);
}

.estilo27{
    font-family: arial;
    font-size: 30px;
    background-color:rgb(92, 0, 184);
}

.estilo28{
    font-family: arial;
    font-size: 30px;
    background-color:rgb(153, 141, 51);
}

.estilo29{
    font-family: arial;
    font-size: 30px;
    background-color:rgb(38, 230, 0);
}

.estilo30{
    font-family: arial;
    font-size: 30px;
    background-color:rgb(215, 215, 215);
}



