.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #EE3A43;
}

.nav-link{
    color:azure;
}

body {
    padding-top: 70px; /* Añade un espacio en la parte superior del contenido para evitar que se superponga con la barra de navegación */
  }