body{
    background-color: #234E70;
}
h1{
    padding: 1%;
    text-align: center;
    color: #f5efe7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3,h2{
    color: #f5efe7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

h4{
    text-align: justify;
    color: #f5efe7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-justify: auto;
}
li{
    color: white;
}
th h3{
    text-align: center;
}
td h4{
    text-align: center;
    color: black;
}
th{
    background-color: #4d4b4a;
}
table{
    border-color: black;
}
table td{
    background-color: #f5efe7;
}
#salon1 td{
    background-color: #757473;
}